<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Simple Transactional Email</title>
    <link rel="stylesheet" href="wwwroot/Email_HTML/PlantAlert.css"/>
</head>
<body>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
        <tr>
            
            <td class="container">
                <div class="content">

                    <!-- START CENTERED WHITE CONTAINER -->
                    <span class="preheader">Plant alert</span>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">

                        <!-- START MAIN CONTENT AREA -->
                        <tr>
                            <td class="wrapper">
                                <p>Hi {{emailAlertMsg.First_Name}},</p>
                                <p>The following plant is in distress requiring some love and attention</p>
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                    <tbody>
                                        <tr>
                                            <td align="left">
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                      
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pre>{{emailAlertMsg.Device}}</pre>
                                <pre>{{emailAlertMsg.Plant}}</pre>
								<pre>{{emailAlertMsg.Sensor_Data}}</pre>
                            </td>
                        </tr>

                        <!-- END MAIN CONTENT AREA -->
                    </table>

                    <!-- START FOOTER -->
                    <div class="footer">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="content-block">
                                    <span class="apple-link">LeafLINQ, 100 Some St, Victoria 9999</span>
                                    <br/><p>Don't like these emails? Unfortunately you cannot unsubscibe.</p>
                                </td>
                            </tr>
                            
                        </table>
                    </div>

                    <!-- END FOOTER -->
                    <!-- END CENTERED WHITE CONTAINER -->
                </div>
            </td>
            
        </tr>
    </table>
</body>
</html>