@model LeafLINQWeb.Models.LoginModel;
@using Microsoft.AspNetCore.Http;


<div class="login-wrapper">
 
    <div class="login-box">

        <div class="login-header">
            <h3>New password entry</h3>
        </div>

        @using (Html.BeginForm("NewLogin", "NewLogin", FormMethod.Post))
        {
            @Html.ValidationMessage("Error", new { @class = "text-danger"})

            <div class="user-input">
                <label for="Email">Email</label>
                <input type="text" value=@Context.Session.GetString(nameof(LeafLINQWeb.Models.LoginModel.Email)) class="form-control" id="Email" name="Email" required="required" readonly>
            </div>
            <div class="user-input">
                <label for="Password">New Password</label>
                <div class="password-container">
                    <input type="password" class="form-control" id="Password" name="Password" required="required">
                    <span class="password-toggle" id="toggleNewPassword">Show</span>
                </div>
            </div>
            <div class="user-input">
                <label for="ConfirmPassword">Confirm</label>
                <div class="password-container">
                    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required="required">
                    <span class="password-toggle" id="toggleConfirmPassword">Show</span>
                </div>
            </div>
           
            <input type="submit" value="Confirm" />
            
        }
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let pass = document.getElementById("Password");
        let spPass = document.getElementById("toggleNewPassword");

        let confirmPass = document.getElementById("ConfirmPassword");
        let spConfirmPass = document.getElementById("toggleConfirmPassword");

        spPass.onclick = function () {
            
            if (pass.type == "password") {
                pass.type = "text";
                spPass.value = "Hide";
            } else {
                pass.type = "password";
                spPass.value = "Show";
            }
        }

        spConfirmPass.onclick = function () {

            if (confirmPass.type == "password") {
                confirmPass.type = "text";
                spConfirmPass.value = "Hide";
            } else {
                confirmPass.type = "password";
                spConfirmPass.value = "Show";
            }
        }
    </script>
}